@charset "utf-8";
@import url('normalize.css');
/* Default Style */
@-ms-viewport {
	width: device-width;
}

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	        font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

html {
	min-height: 100%;
	position: relative;
}

html.lt-ie9 {
	max-width: 768px;
	margin: 0 auto;
	position: relative;
}

body {
	background: white;
	padding-top: 50px;
	padding-left: 200px;
	font-size: 16px;
}

a {
	color: #a9aeae;
	text-decoration: none;
}
	a:hover, a:focus {
		text-decoration: none;
		color: #000;
	}
/* End of Defualt Style */

/* Header Style */
header {
	position: fixed;
	top: 0;
	left: 0;
	background: blue;
	height: 50px;
	width: 100%;
	padding: 0px 10px;
}
header .logo {
	color: #333;
	font-size: 20px;
	line-height: 50px;
}
/* End of Header Style */

/* Sidebar Style */
aside {
	background: #444;
	position: fixed;
	left: 0;
	top: 50px;
	height: 100%;
	width: 200px;
}
aside nav {
	margin-top: 20px; 
}
aside nav ul li a {
	display: block;
	margin: 0px;
	padding: 10px 20px;
}
aside nav ul li a:hover {
	background: red;
}
/* End of Sidebar Style */


/* Main Section Style */
main {
	width: 100%;
	padding: 20px;
}

